  .hide {
      animation: hide 2s ease-in-out;
  }
  
  .none {
      display: none!important;
  }
  
  .container {
      width: 450px;
      height: 400px;
      /* background-color: #212737; */
      margin: 50px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 0;
  }
  
  .dark-mode {
      width: 100vw;
      height: 100vh;
      background-color: #212737;
      color: #a4b1c2;
  }
  
  .dark-mode h2 {
      font-size: 2rem;
      text-transform: uppercase;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      padding-top: 50px;
  }
  
  .areaButton {
      width: 150px;
      height: 60px;
      border-radius: 50px;
      border: 1px solid #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      overflow: hidden;
      margin-top: 20px;
  }
  
  .sun-circle {
      width: 70px;
      height: 70px;
      background-color: #ffffff;
      opacity: .2;
      position: absolute;
      border-radius: 50%;
      top: -12px;
      left: -4px;
  }
  
  .sun-dois {
      left: 8px;
  }
  
  .sun-dois {
      left: 15px;
  }
  
  .sun {
      z-index: 9999;
      display: flex;
      position: relative;
  }
  
  .btn {
      box-sizing: border-box;
      background-color: #fed32f;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 5px;
      border: 1px solid #cda70d;
      -webkit-box-shadow: -2px 14px 33px -10px rgba(0, 0, 0, 1);
      -moz-box-shadow: -2px 14px 33px -10px rgba(0, 0, 0, 1);
      box-shadow: -2px 14px 33px -10px rgba(0, 0, 0, 1);
      z-index: 20;
  }
  
  .day {
      background: rgb(242, 242, 242);
      background: linear-gradient(83deg, rgba(242, 242, 242, 1) 0%, rgba(104, 184, 243, 1) 22%, rgba(104, 184, 243, 1) 43%, rgba(104, 184, 243, 1) 60%);
      -webkit-box-shadow: inset -1px 85px 32px -87px rgba(0, 0, 0, 1);
      -moz-box-shadow: inset -1px 85px 32px -87px rgba(0, 0, 0, 1);
      box-shadow: inset -1px 85px 32px -87px rgba(0, 0, 0, 1);
  }
  
  .cloud {
      box-sizing: border-box;
  }
  
  .circulo {
      display: block;
      position: absolute;
      background-color: #e4e4e4;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
  
  .um {
      bottom: -15px;
      left: 20px;
      box-sizing: border-box;
      z-index: 1;
  }
  
  .dois {
      width: 33px;
      height: 33px;
      bottom: -15px;
      left: 45px;
  }
  
  .dois-op {
      width: 33px;
      height: 33px;
      left: 45px;
      top: 25px;
      opacity: .3;
  }
  
  .tres {
      width: 35px;
      height: 35px;
      left: 70px;
      bottom: -11px;
  }
  
  .tres-op {
      width: 35px;
      height: 35px;
      opacity: .4;
      top: 25px;
      left: 70px;
  }
  
  .quatro {
      width: 39px;
      height: 39px;
      left: 100px;
      bottom: -20px;
  }
  
  .quatro-op {
      width: 39px;
      height: 39px;
      left: 95px;
      opacity: .5;
      top: 30px;
  }
  
  .cinco {
      width: 45px;
      height: 45px;
      left: 80%;
      top: 10px;
  }
  
  .cinco-op {
      width: 45px;
      height: 45px;
      left: 70%;
      top: 15px;
      opacity: .5;
  }
  
  .moon {
      position: relative;
      display: flex;
  }
  
  .dark {
      justify-content: flex-end;
      padding-right: 5px;
      -webkit-box-shadow: inset -1px -2px 58px -17px rgba(0, 0, 0, 1);
      -moz-box-shadow: inset -1px -2px 58px -17px rgba(0, 0, 0, 1);
      box-shadow: inset -1px -2px 58px -17px rgba(0, 0, 0, 1);
      background-color: #212737;
  }
  
  .dark .btn {
      background-color: #d1d8e0;
      border-color: #d1d8e0;
      z-index: 20;
  }
  
  .moon-circle {
      position: absolute;
  }
  
  .moon-um {
      width: 70px;
      height: 70px;
      background-color: #5d616c;
      top: -10px;
      right: -5px;
      border-radius: 50%;
      z-index: 3;
  }
  
  .moon-dois {
      background-color: #474e56;
      right: 5px;
      width: 75px;
      height: 75px;
      top: -12px;
      border-radius: 50%;
      z-index: 2;
  }
  
  .moon-tres {
      background-color: #373d4b;
      right: 20px;
      width: 75px;
      height: 75px;
      top: -12px;
      border-radius: 50%;
      z-index: 1;
  }
  
  .crater {
      background-color: #a4b1c2;
      border-radius: 50%;
      position: absolute;
      z-index: 22;
  }
  
  .crater-um {
      width: 10px;
      height: 10px;
      top: 10px;
      left: 30px;
  }
  
  .crater-dois {
      width: 16px;
      height: 16px;
      top: 15px;
      left: 10px;
  }
  
  .crater-tres {
      width: 11px;
      height: 11px;
      top: 30px;
      left: 35px;
  }
  
  .star {
      display: block;
      width: 6px;
      height: 1px;
      position: absolute;
      background-color: #fff;
      z-index: 25;
  }
  
  .star::after {
      content: '';
      width: 1px;
      height: 6px;
      background-color: #fff;
      z-index: 25;
      position: absolute;
      left: 3.5px;
      top: -2px;
  }
  
  .star::before {
      content: '';
      width: 5px;
      height: 1px;
      background-color: #fff;
      z-index: 25;
      position: absolute;
      left: 1px;
      top: 1.2px;
  }
  
  .star-position {
      top: 10px;
      left: -20px;
  }
  
  .star-dois {
      top: 30px;
      left: -40px;
  }
  
  .star-tres {
      top: 10px;
      left: -70px;
  }
  
  .star-quatro {
      top: 40px;
      left: -70px;
  }
  
  .star-cinco {
      top: 45px;
      left: -10px;
  }
  
  @keyframes hide {
      0% {
          left: 0;
          opacity: 1;
      }
      100% {
          left: 100%;
          opacity: 0;
      }
  }
  
  button:hover {
      cursor: pointer;
  }